@charset "utf-8";
/* CSS Document */

#featurePageContents {
    clear: both;
    height: 400px;
    margin-left: 100px;
    margin-top: 20px;
    width: 80%;
}
#featurePageContents p {
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;
}
#featurePageContents img {
    border: 1px solid #1A1A1A;
    margin-bottom: 20px;
    margin-left: 50px;
}

