@charset "utf-8";
/* CSS Document */
#body {
	-webkit-font-smoothing: antialiased;
	color: #333;
	font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

}
* {
    margin: 0;
    padding: 0;
}
.text {
    height: auto;
    padding: 10px;
    width: auto;
}
.smallText {
    font-size: 75%;
}
h3 {
    font-family: Arial;
    font-size: 119%;
}
h4 {
    color: #000000;
    font-family: Arial;
    font-size: 175%;
}
h5 {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 119%;
}
h6 {
    font-family: Arial;
    font-size: 119%;
}
h7 {
    font-family: Arial;
    font-size: 100%;
    font-weight: bold;
}
h8 {
    font-family: Arial;
    font-size: 119%;
    font-weight: bold;
}
a:link {
    color: #9C1313;
    text-decoration: none;
}
a:visited {
    color: #9C1313;
    text-decoration: none;
}
a:hover {
    color: #9C1313;
    text-decoration: underline;
}
a:active {
    color: #9C1313;
    text-decoration: underline;
}
img {
    border-style: none;
}
a img {
    border-style: none;
}
.no_border {
    border-style: none;
}
html {
    background-color: #FFFFFF;
    height: 100%;
}
body {
    color: #000000;
    font-family: Helvetica,Arial,'Puritan',sans-serif,"Hiragino Kaku Gothic Pro","メイリオ","ヒラギノ角ゴ Pro W3",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic";
    font-size: 100%;
    height: 100%;
    line-height: 138%;
    margin: 0 auto;
    padding: 0;
}
#header {
    background-image: url("http://www.qrcode.com/zh/img/header/headerBar.png");
    background-repeat: repeat-x;
    font-size: 75%;
    height: 55px;
    width: 100%;
}
#footer {
    font-size: 75%;
    height: 220px;
    width: 100%;
}
#container {
    min-height: 400px;
    width: 100%;
}
#container a:hover img {
    opacity: 0.8;
}
.gotoTopButton {
    clear: both;
    padding: 16px 0 0;
    text-align: right;
    width: 100%;
}
.h1Box {
    height: 56px;
    margin-bottom: 20px;
    margin-top: 35px;
    width: 100%;
}
.h1BoxLong {
    height: 82px;
    margin-bottom: 20px;
    margin-top: 35px;
    width: 100%;
}
.h1Color {
    float: left;
    width: 14px;
}
#h1Yellow {
    background-color: #E2E701;
    height: 56px;
}
#h1Blue {
    background-color: #0C4C90;
    height: 56px;
}
#h1BlueLong {
    background-color: #0C4C90;
    height: 82px;
}
#h1Cyan {
    background-color: #0088A0;
    height: 56px;
}
#h1CyanLong {
    background-color: #0088A0;
    height: 82px;
}
#h1Green {
    background-color: #3C8D1F;
    height: 56px;
}
#h1GreenLong {
    background-color: #3C8D1F;
    height: 82px;
}
h1 {
    text-indent: -9999px;
}
.h2Box {
    clear: both;
    height: 27px;
    margin-bottom: 25px;
    margin-top: 40px;
    width: 100%;
}
.h2Yellow {
    background-image: url("http://www.qrcode.com/zh/img/cHeadlineColor/h2Yellow.png");
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 14px;
}
.h2Blue {
    background-image: url("http://www.qrcode.com/zh/img/cHeadlineColor/h2Blue.png");
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 14px;
}
.h2Cyan {
    background-image: url("http://www.qrcode.com/zh/img/cHeadlineColor/h2Cyan.png");
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 14px;
}
.h2Green {
    background-image: url("http://www.qrcode.com/zh/img/cHeadlineColor/h2Green.png");
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 14px;
}
h2 {
    text-indent: -9999px;
}

