@charset "utf-8";
/* CSS Document */

.featureLogo {
    background-image: url("http://www.qrcode.com/zh/img/featurePage2/featurePage4Logo.png");
    background-repeat: no-repeat;
    height: 141px;
    width: 100%;
}

